#parse("/pages/top.vm")
#parse("/pages/workmenu.vm")

#hmenu($itemlist '100%' "right" "workmenu" 3)

#parse("/pages/samenu.vm")

#hmenu($itemlist "100%" "right" "submenu" 99)

#parse("/pages/bottom.vm")