#parse("/pages/top.vm")
#parse("/pages/workmenu.vm")
#hmenu($itemlist '100%' "right" "workmenu" 2)
#parse("/pages/pomenu.vm")
#hmenu($itemlist '100%' "right" "submenu" 99)

#if ($isSecure=="S")
	<br><br>
	#mainheader("Purchase Order Returns")
	
	#vendorsearchform("podovendorlookup.action" "poreturns.action" "Y")
	
	<br>

	#sectionheader("Purchase Orders for Vendor:  $!VendorId")
	
	#set($index = 0)
	<div align="center">
	<table border=1 width="90%" cellpadding="5">
		<tr class="rowstyle1">
		<td>PO Number</td>
		<td>Vendor Id</td>
		<td>Item Id</td>
		<td>Item Desc</td>
		<td>Qty Purchased</td>
		<td>Purchase Price</td>
		<td></td>
		</tr>
		#foreach ($line in $VendorItemList)
			
			#if($index==0)
				#set($style="rowstyle2")
				#set($index=1)
			#else
				#set($style="rowstyle3")
				#set($index=0)
			#end
	
			<tr class="$style">
			<td>$!line.getPoNumber()</td>
			<td>$!VendorId</td>
			<td>$!line.getItemId()</td>
			<td>$!line.getItemDesc()</td>
			<td>$!line.getQtyPurch()</td>
			<td>$!line.getPurchPrice()</td>			
			<td>#baselink("podoporeturn.action?PoNumber=$!line.getPoNumber()&ItemId=$!line.getItemId()" "Return")</td>
			</tr>
		#end
	</table>
	</div>
	
#else
	#denied()
#end

#parse("/pages/bottom.vm")